<button class="bg-white text-blue-500 md:text-black hover:text-white hover:bg-orange-400 transition delay-150 duration-200 rounded-full uppercase font-sans tracking-wide font-bold px-10 py-3">
    <slot/>
</button>
