---

//IMPORT ASTRO COMPONENTS
import TestimonialCover from "@/components/home/testimonial/testimonial-cover/index.astro"
import UserTestimonial from "@/components/home/testimonial/user-testimonial/index.astro"

//GET ASTRO PROPS
const { isRight } = Astro.props

//CONSTANTS
const display_content = {
    title: "WE HELP PEOPLE. THAT MEANS YOU, TOO. GET IN TOUCH FOR A FREE CONSULTATION AND DISCOVERY SESSION.",
    button_text: "Get Started",
    text: "360.550.9578"
}
const testimonial_content1 = {
    title:"What Our Customers Say ... Says It All.",
    subtitle:"We’ve proven our knowledge and service stands above the competition. See what real customers have to say about us.",
    testimonial: "“Webfor did an amazing job building the website for our youth career center. Following our brand guidelines, they created an eye-catching and appealing site and offered suggestions to make the site user-friendly and compatible with mobile devices – which is what most of our audience will use to access the site. Stellar professionals, they know their stuff and we would use them again.”",
    user_content: 
    {
        image:"https://via.placeholder.com/56",
        name: "Julia Maglione",
        company: "Workforce Southwest Washington",
        designation: "New Logo and Website Design",
    }
}
const testimonial_content2 = {
    title:"Our Marketing Customers And Partners Tell It Like It Is.",
    testimonial: "“…team go above and beyond for our account. We appreciate the support they give, as well as the knowledge they pass on to us and our business. They acknowledge points that truly affect our business. Thank you!”",
    user_content: 
    {
        image:"https://via.placeholder.com/56",
        name: "Beth Anderson",
        company: "Simpson Plumbing",
        designation: "Marketing and Website Design",
    }
}

--- 

{

    isRight ?
    (

        <div class="flex flex-col lg:flex-row">
            <UserTestimonial 
                isRight={ isRight } 
                testimonial_content={ testimonial_content1 }
            />
            <TestimonialCover display_content={ display_content } />
        </div>

    ):
    (

        <div class="flex flex-col lg:flex-row">
            <TestimonialCover display_content={ display_content } />
            <UserTestimonial 
                isRight={ isRight }
                testimonial_content={ testimonial_content2 } 
            />
        </div>

    )

}
