---

// IMPORT ASTRO COLLECTION
import { getCollection } from 'astro:content'

// IMPORT HEADER COLLECTION
let header = await getCollection('header')
header = header.sort( ( a, b ) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO COMPONENTS
import Header from "@/components/common/header/header/index.astro"

// IMPORT ASTRO ATOMS
import ButtonOrange from "@/atoms/atoms-nandini/buttons/orange/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphBoldWhite from "@/atoms/atoms-nandini/paragraphs/bold/white/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// IMPORT DATA FROM FRONT-MATTER
import { frontmatter as button } from "@/content/header-button/button.md"
import { frontmatter as contactnumber } from "@/content/header-button/contact-number.md"
import { frontmatter as menu } from "@/content/header-icon/menu.md"
import { frontmatter as webfor } from "@/content/header-icon/webfor.md"

// HARDCODED DATA
const button_text = button.title
const contactnumber_link = contactnumber.link
const contactnumber_text = contactnumber.title
const menuicon_link  = menu.link
const webforicon_link  = webfor.link

---
<header class="bg-black fixed w-full z-10 py-5 px-10">
    <Container>
        <div class="flex justify-between items-center">
            <div>
                <PictureInternal
                    alternative_text="",
                    source={ webforicon_link }
                />
            </div>
            <div class="md:hidden size-5">
                <PictureInternal
                    alternative_text="",
                    source={ menuicon_link }
                />
            </div>
            <div class="hidden md:block">
                <Header data={ header }/>
            </div>
            
            <div class="hidden md:block lg:flex gap-2 items-center">
                <Link aria_label={ contactnumber_text } href={ contactnumber_link }>
                    <ParagraphBoldWhite>{ contactnumber_text }</ParagraphBoldWhite>
                </Link>
                <ButtonOrange>{ button_text }</ButtonOrange>
            </div>
        </div>
    </Container>
</header>

<!-- <script>
    document.addEventListener('scroll' , () => {
        const header = document.querySelector('header');
        if (window.scrollY > 96 ) {
            header.classList.add('scrolled');
        }else{
            header.classList.remove('scrolled');
        }
    })
</script> -->