---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

---
<header class="bg-blue-600 h-12">
    <Container>
        <section class="flex items-center h-full">
            <p class="text-white">I am header</p>
        </section>
    </Container>
</header>
