---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import ListitemLargeWhite from "@/atoms/atoms-nandini/list-items/lg/white/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// IMPORT DATA FROM FRONT-MATTER
import { frontmatter as arrowicon } from "@/content/header-icon/arrow.md"

// HARDCODED DATA
const arrow_link = arrowicon.link

// GET ASTRO PROPS
const { data } = Astro.props

---
<section>
    <ul class="flex gap-4">
        {

            data.map( ( item ) => {

                return (
                    
                        <ListitemLargeWhite>
                            <Link
                                aria-label={ "explore " + item.data.title }
                                href={ item.data.link }
                            >
                                { item.data.title } <span class="inline-block size-5 pt-2.5">
                                    <PictureInternal
                                        alternative_text = { arrow_link }
                                        source = { arrow_link }
                                    />
                                </span>
                            </Link>
                        </ListitemLargeWhite>

                )
            })
        }
    </ul>
</section>
