---

// IMPORT ASTRO LAYOUTS
import Layout from "@/layouts/layout/index.astro"

// IMPORT ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"
import HeaderBanner from "@/components/common/header-banner/index.astro"
import NotFound from "@/components/common/404/index.astro"

---
<Layout
	description=""
	image=""
	title="4O4 PAGE NOT FOUND"
>
    <section class="md:h-screen md:max-h-screen">
        <HeaderBanner />
        <Header />
        <NotFound />
    </section>
	<Footer />
</Layout>
