<button class="text-white border-4 text-lg tracking-widest font-bold hover:bg-orange-400 hover:border-none font-proxima_nova rounded-full px-8 py-1.5 hover:py-2 transition delay-150 ease-linear duration-300">
    <slot/>
</button>
