---

// IMPORT ASTRO ATOMS
import ParagraphBoldUppercasePrimary from "@/atoms/atoms-diksha/paragraphs/bold/uppercase/primary/index.astro"

---

<button class="bg-white hover:bg-color-accent px-10 py-3 rounded-full">
    <ParagraphBoldUppercasePrimary>
        <slot />
    </ParagraphBoldUppercasePrimary>
</button>
