---

//IMPORT ASTRO COMPONENTS
import TestimonialUserCard from "@/components/home/testimonial/user-testimonial/user-card/index.astro"

//IMPORT ASTRO ATOMS
import HeadingFourThreeXlSemiboldPrimary from "@/atoms/atoms-diksha/headings/four/3xl/semibold/primary/index.astro"
import ParagraphLgSemiboldPrimary from "@/atoms/atoms-diksha/paragraphs/lg/semibold/primary/index.astro"
import ParagraphSlate from "@/atoms/atoms-diksha/paragraphs/slate/index.astro"
import ParagraphXlItalicLeftSlate from "@/atoms/atoms-diksha/paragraphs/xl/italic/left/slate/index.astro"
import Link from "@/atoms/links/index.astro"

//GET ASTRO PROPS
const { 

    isRight,
    testimonial_content

} = Astro.props

---

<div class={`bg-color-tertiary w-full lg:w-1/2 px-12 py-20 flex flex-col justify-center ${isRight ? "items-start" : "items-center"} gap-6 ${isRight ? "text-left" : "text-center"}`}>
     <div class={`${isRight? "pr-32": "px-20"}`}>
        <HeadingFourThreeXlSemiboldPrimary>{ testimonial_content.title }</HeadingFourThreeXlSemiboldPrimary>
        {
            testimonial_content.subtitle ? (
                <ParagraphSlate>{ testimonial_content.subtitle }</ParagraphSlate>
            ) : ""
        }
     </div>
     <ParagraphXlItalicLeftSlate>{ testimonial_content.testimonial }</ParagraphXlItalicLeftSlate>
     <TestimonialUserCard user_content={ testimonial_content.user_content }/>
     <Link
        aria_label="read more testimonials"
        source="/"
    >
        <ParagraphLgSemiboldPrimary>Read more stories and checkout some case studies.</ParagraphLgSemiboldPrimary>
    </Link>
</div>
